@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap');

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.postTemplate {
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header {
    margin-bottom: 15px;
}

.head {
    margin-bottom: 0;
}

.moreInfo {
    display: flex;
}

.rate {
    display: flex;
    align-items: center;
}

.creator {
    margin-right: 10px;
    text-decoration: none;
    color: #6b6b6b;
    cursor: pointer;
}

.date {
    color: #6b6b6b;
}

.text {
    text-align: justify;

    font-family: 'Lora', serif;
    line-height: 1.5;
    font-size: 18px;
}

@media (max-width: 1199px) {
    .wrapper {
        width: 850px;
    }

    .text {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .wrapper {
        width: 660px;
    }
}

@media (max-width: 781px) {
    .wrapper {
        max-width: 80%;
    }
}

@media (max-width: 576px) {
    .wrapper {
        max-width: 70%;
    }

    .wrapper {
        padding: 0;
    }
}