input, textarea {
    width: 100%;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;

    position: relative;
}

.createpost {
    margin: 0 auto;
}

.headerName {
    margin-bottom: 10px;
    font-size: 24px;
}

.name {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 20px;
}

.textAreaText {
    height: 500px;
}

.publish {
    position: absolute;
    right: 0;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 991px) {
    .wrapper {
        max-width: 500px;
    }

    .publish {
        font-size: 24px;
    }

    .warning {
        font-size: 26px;
    }
}

@media (max-width: 781px) {

    .wrapper {
        max-width: 80%;
    }

    .headerName {
        font-size: 24px;
    }
}

@media (max-width: 480px) {

    .publish {
        font-size: 18px;
    }
}