.wrap {
    border: none;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.field {
    background: #FFCACA;
    border: 0;
    border-radius: 30px 0 0 30px;
    padding-left: 10px;
    font-weight: normal;
    line-height: 20px;
    transition: .3s linear;
}

.field::placeholder {
    font-weight: normal;
    line-height: 20px;
}

.submit {
    width: 22px;
    margin-right: 5px;
    background: #FFCACA url(./img/search.svg) no-repeat center;
    background-size: 15px;
    border: 0;
    border-radius: 0 30px 30px 0;
}

@media (max-width: 781px) {
    .field {
        width: 250px;
        height: 34px;
    }

    .field:active {
        width: 260px;
    }

    .field::placeholder {
        font-weight: normal;
        font-size: 24px;
        line-height: 48px;
    }
}